@using MavenThought.PrDC.Demo.Helpers
@model IEnumerable<MavenThought.PrDC.Api.ISpeaker>
           
@{
    ViewBag.Title = "Speakers";
}

@foreach (var speaker in Model)
{
    <div class="element speaker">
        <div class="title">@speaker.FirstName @speaker.LastName</div>
        <div class="location">@speaker.Location</div>
        <div class="bio">@Html.Bio(speaker)</div>
        <div class="contact">@Html.MediaLinks(speaker)</div>
    </div>
}