@model IEnumerable<MavenThought.PrDC.Api.IPresenterSession>

@{
    ViewBag.Title = "Sessions";
}


@foreach (var session in Model) { 	
    <div class="session">
        <p class="title">@session.Title</p>
        <p>@session.Abstract</p>
        <p><b>Track:</b>@session.Track</p>	
        <p><b>Style:</b>@session.Style</p>			        
        <p><b>Speaker:</b> <i>@session.Presenter</i></p>
    </div>
}
